/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root
{
	-fx-background-image: url("tlo.jpg");
}

.label
{
	-fx-font-size: 12px;
	-fx-font-weight: bold;
	-fx-text-fill: #B0B0B0;
}

#sceneTitle
{
	-fx-font-size: 32px;
	-fx-font-family: "Arial Black";
	-fx-fill: #EAEAEA;
	-fx-effect: innershadow(three-pass-box, rgba(0,0,0,0.7), 6, 0.0, 0, 2);
}

#notification
{
	-fx-fill: #FF7070;
	-fx-font-weight: bold;
	-fx-effect: dropshadow(gaussian, rgba(255, 50, 50, 0.5), 0, 0, 0, 1);
}

.button
{
	-fx-background-color:
        linear-gradient(#40ccda, #208ada),
        radial-gradient(center 50% -40%, radius 200%, #40ccda 45%, #208ada 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #104060;
}

.button:hover
{
	-fx-background-color:
        linear-gradient(#50e0ff, #20a0ff),
        radial-gradient(center 50% -40%, radius 200%, #50e0ff 45%, #20a0ff 50%);
    -fx-text-fill: #103550;
}

.button:pressed
{
	-fx-background-color:
		#40cfff,
        linear-gradient(rgba(100,180,240,0.5), rgba(15,70,100,0.7), rgba(100,180,240,0.5));
    -fx-text-fill: #60e0ff;
}
